# Document loading
langchain
langchain-community
pypdf
python-docx
unstructured

# NLP
spacy

# Embeddings
sentence-transformers

# Vector databases
chromadb
faiss-cpu

# LLM
groq
langchain-groq

# Environment
python-dotenv

# UI
streamlit

# Utilities
pydantic
pandas

#test
pytest

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl